/* Typos */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=VT323&display=swap');

/* Desktop */

header {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 10em;
    color: #F8F531;
    margin-top: 0;
    margin-bottom: 5%;
}

body {
    background-color: black;
}

#arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text-arrow {
    display: none;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 3em;
    color: #F8F531;
    margin-top: 0%;
}

#imgarrow {
    width: 10%;
    height: auto;

}


#score {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 5em;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-areas:
    "score-title score-title" 
    "player-score computer-score";
}

#score-title {
    grid-area: score-title;
    margin-bottom:0;
    display: flex;
    justify-content: center;
}

#player-score {
    grid-area: player-score;
    margin:0;
}

#computer-score {
    grid-area: computer-score;
    margin:0;
}

#gameset {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 5em;
}

#player {
    color: #48EAF7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#computer {
    color: #FE90FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 3em;
    color: #F8F531;
}

#choice {
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
}

#button-shi {
    width: 10%;
    height: auto;
 }
 #button-fu {
    width: 10%;
    height: auto;
 }
 #button-mi {
    width: 10%;
    height: auto;
 }

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 768px) {

    body {
        margin-left: 0%;
    }

    #logo {
        width: 40%;
        margin-top: 5%;
    }

    header {
        /* margin-left: 20px; */
        margin-right: 0px;
    }

    h1 {
        font-size: 5em;
        margin-top: 10%;
        margin-bottom: 5%;
     }

     #imgarrow {
        width: 30%; 
        height: auto;
        margin: 10%;
     }
     
     #text-arrow {
        display: block;
        font-size: 2em;
     }
     #score {
        font-size: 3em;
        margin-bottom: 5%;
     }

     .card-computer {
        font-size: 3em;
     }

     .card-player {
        font-size: 3em;
     }

     #player img {
        width: 10em;
     }

     #computer img {
        width: 10em;
     }
    
     h3 {
        font-size: 40px;
        padding-left: 10%;
        padding-right: 10%;
     }

     #button-shi {
        width: 25%;
        height: auto;
     }
     #button-fu {
        width: 25%;
        height: auto;
     }
     #button-mi {
        width: 25%;
        height: auto;
     }


}